.sendbox{
    position: fixed;
    height: 50px;
    /* background-color: red; */
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.input{
    width: 80%;
    overflow-x: hidden;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.send{
    padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
    width: 20%;
    background-color: greenyellow;
    color: white;
    border: 2px solid greenyellow;
    
}