.input-ul {
    bottom: 0;
    display: flex;
    
    position: fixed; bottom: 0; left:0; width:100%;
    
}

.input{
  font-size: 30px;
    width: 100%;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  font-weight: 900;
  margin-bottom: 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: whitesmoke;
}