.center{
    margin: auto;
  width: 50vh;
  padding: 10px;
}
.flex{
    display: flex;
}
.join{
    width: 100%;
    /* overflow-x: hidden; */
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: large;
  font-weight: 700;
  text-align: center;
  border-radius: 30px;
}

.available{
    color: white;
    background-image: linear-gradient(#3399ff,transparent);
    border-radius: 8px;
    padding: 10px;
    
}
.available h1{
    background-color: black;
    border-radius: 10px;
    padding: 10px;
}
.alive-rooms{
    text-align: center;
    padding: 5px;
    margin: 0;
    background-color: #0033cc;
    border-radius: 10px;
}
.disabled{
    cursor-pointer:not-allowed ;
    background-color: #3399ff;
    color: whitesmoke;
}

.enabled{
    cursor: pointer;
    background-color:#3333ff;
    color: white;
}

.join-btn:hover{
opacity: 1;
}

.join-btn{
    transition-duration: 500ms;
  border: none;
 font-weight: bolder;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  width: 100%;
  border-radius: 30px;
  margin-top: 20px; 
  opacity: 1;
}

.heading{
    color: white;
    font-size: 38px;
    margin-bottom: 5px;
}

.sub{
    margin: 0;
    font-size: 20px;
}

.warning{
    margin: 0;
    font-weight: 900;
    font-size: 16px;
    color: whitesmoke;
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
    .flex{
        display: block;
    }
    .available{
        margin-top: 20px;
    }
  }