div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
div {
  -ms-overflow-style: none;
}

body{
 
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #0099cc,#3366cc);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

